Repository lixiaoliyubo/Yuandl.ThemeUI, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies, styles, controls, navigation, sample, icons

add ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yml
Labels: none

Optimize controls
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/release.yml
  .github/workflows/dotnet-desktop.yml
  src/Yuandl.ThemeUI/Controls/Notification/Notification.cs
  src/Yuandl.ThemeUI/Controls/Pagination/Pagination.Constants.cs
Labels: github_actions, dotnet, controls

删除NavigationService和PageService
  src/Yuandl.ThemeUI.Demo/MainWindow.xaml
  src/Yuandl.ThemeUI.Sample/App.xaml.cs
  src/Yuandl.ThemeUI.Sample/IWindow.cs
  src/Yuandl.ThemeUI.Sample/Services/ApplicationHostService.cs
  src/Yuandl.ThemeUI.Sample/ViewModels/MainWindowViewModel.cs
  src/Yuandl.ThemeUI.Sample/ViewModels/Pages/NavigatePageViewModel.cs
  src/Yuandl.ThemeUI.Sample/Views/MainWindow.xaml
  src/Yuandl.ThemeUI.Sample/Views/MainWindow.xaml.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/INavigationView.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationView.cs
  src/Yuandl.ThemeUI/Services/INavigationService.cs
  src/Yuandl.ThemeUI/Services/IPageService.cs
  src/Yuandl.ThemeUI/Services/NavigationService.cs
  src/Yuandl.ThemeUI/Services/PageService.cs
Labels: dotnet, controls, navigation, sample

修复Clipboard失败导致的bug
  src/Yuandl.ThemeUI.Sample/Views/Pages/IconsPage.xaml.cs
Labels: dotnet, sample

修改.gitignore
  .gitignore
Labels: none

调整页面导航
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationView.cs
Labels: dotnet, controls, navigation

调整ColorPicker组件属性
  src/Yuandl.ThemeUI/Controls/ColorPicker/ColorPicker.xaml
Labels: styles, controls

优化ValueToSizeConverter
  src/Yuandl.ThemeUI/Converters/ValueToSizeConverter.cs
Labels: dotnet

1.新增FormItem控件 2.优化ContentDialog控件
  src/Yuandl.ThemeUI/Controls/ContentDialog/ContentDialog.xaml
  src/Yuandl.ThemeUI/Controls/FormItem/FormItem.cs
  src/Yuandl.ThemeUI/Controls/FormItem/FormItem.xaml
  src/Yuandl.ThemeUI/Resources/Yuandl.xaml
  src/Yuandl.ThemeUI/VisualStudioToolsManifest.xml
Labels: dotnet, styles, controls

调整UniformGrid
  src/Yuandl.ThemeUI/Controls/PinBox/PinBox.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/TakenSpotsReferenceHolder.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Helpers.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Properties.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.xaml
  src/Yuandl.ThemeUI/VisualStudioToolsManifest.xml
Labels: dotnet, styles, controls

调整UniformGrid
  src/Yuandl.ThemeUI/Controls/PinBox/PinBox.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/TakenSpotsReferenceHolder.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Helpers.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Properties.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.xaml
  src/Yuandl.ThemeUI/VisualStudioToolsManifest.xml
Labels: dotnet, styles, controls

调整TextBlock
  src/Yuandl.ThemeUI/Controls/TextBlock/TextBlock.xaml
Labels: styles, controls

1.添加Mvvm示例羡慕 2.优化导航 3.修复SidebarMenu初始化选中问题
  Directory.Packages.props
  Yuandl.ThemeUI.Mvvm/App.xaml
  Yuandl.ThemeUI.Mvvm/App.xaml.cs
  Yuandl.ThemeUI.Mvvm/AssemblyInfo.cs
  Yuandl.ThemeUI.Mvvm/Converters/ThemeToIndexConverter.cs
  Yuandl.ThemeUI.Mvvm/Resources/Styles.xaml
  Yuandl.ThemeUI.Mvvm/Services/ApplicationHostService.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/CachePageViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/HomePageViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/MainWindowViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/SettingsPageViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/ViewModel.cs
  Yuandl.ThemeUI.Mvvm/Views/CachePage.xaml
  Yuandl.ThemeUI.Mvvm/Views/CachePage.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/HomePage.xaml
  Yuandl.ThemeUI.Mvvm/Views/HomePage.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/IWindow.cs
  Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml
  Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/SettingsPage.xaml
  Yuandl.ThemeUI.Mvvm/Views/SettingsPage.xaml.cs
  Yuandl.ThemeUI.Mvvm/Yuandl.ThemeUI.Mvvm.csproj
  Yuandl.ThemeUI.Mvvm/app_icon.ico
  Yuandl.ThemeUI.sln
  src/Yuandl.ThemeUI.Sample/Views/MainWindow.xaml
  src/Yuandl.ThemeUI.Sample/Views/Pages/IconsPage.xaml
  src/Yuandl.ThemeUI.Sample/Yuandl.ThemeUI.Sample.csproj
  src/Yuandl.ThemeUI/Controls/Calendar/Calendar.xaml
  src/Yuandl.ThemeUI/Controls/FormItem/FormItem.xaml
  src/Yuandl.ThemeUI/Controls/NavigationView/INavigationView.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationView.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationViewActivator.cs
  src/Yuandl.ThemeUI/Controls/SidebarMenu/SidebarMenu.cs
  src/Yuandl.ThemeUI/Controls/Step/StepItem.xaml
  src/Yuandl.ThemeUI/Controls/TextBlock/TextBlock.xaml
  src/Yuandl.ThemeUI/Services/ControlsServices.cs
  src/Yuandl.ThemeUI/Services/INavigationService.cs
  src/Yuandl.ThemeUI/Services/NavigationService.cs
  src/Yuandl.ThemeUI/stylecop.json
Labels: dotnet, styles, controls, navigation, sample

优化NavigableView
  Yuandl.ThemeUI.Mvvm/App.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml
  src/Yuandl.ThemeUI.Sample/App.xaml.cs
  src/Yuandl.ThemeUI.Sample/ViewModels/Pages/SettingsPageViewModel.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationAware.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationViewContentPresenter.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Helpers.cs
  src/Yuandl.ThemeUI/Interop/UnsafeReflection.cs
  src/Yuandl.ThemeUI/Services/ITaskBarService.cs
  src/Yuandl.ThemeUI/Services/NavigationService.cs
  src/Yuandl.ThemeUI/Services/TaskBarService.cs
  src/Yuandl.ThemeUI/TaskBar/TaskBarProgress.cs
  src/Yuandl.ThemeUI/TaskBar/TaskBarProgressState.cs
Labels: dotnet, controls, navigation, sample

优化NavigableView
  Yuandl.ThemeUI.Mvvm/App.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml
  src/Yuandl.ThemeUI.Sample/App.xaml.cs
  src/Yuandl.ThemeUI.Sample/ViewModels/Pages/SettingsPageViewModel.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationAware.cs
  src/Yuandl.ThemeUI/Controls/NavigationView/NavigationViewContentPresenter.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Helpers.cs
  src/Yuandl.ThemeUI/Interop/UnsafeReflection.cs
  src/Yuandl.ThemeUI/Services/ITaskBarService.cs
  src/Yuandl.ThemeUI/Services/NavigationService.cs
  src/Yuandl.ThemeUI/Services/TaskBarService.cs
  src/Yuandl.ThemeUI/TaskBar/TaskBarProgress.cs
  src/Yuandl.ThemeUI/TaskBar/TaskBarProgressState.cs
Labels: dotnet, controls, navigation, sample

调整Yuandl.ThemeUI.Mvvm位置
  Yuandl.ThemeUI.Mvvm/App.xaml
  Yuandl.ThemeUI.Mvvm/App.xaml.cs
  Yuandl.ThemeUI.Mvvm/AssemblyInfo.cs
  Yuandl.ThemeUI.Mvvm/Converters/ThemeToIndexConverter.cs
  Yuandl.ThemeUI.Mvvm/Resources/Styles.xaml
  Yuandl.ThemeUI.Mvvm/Services/ApplicationHostService.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/CachePageViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/HomePageViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/MainWindowViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/SettingsPageViewModel.cs
  Yuandl.ThemeUI.Mvvm/ViewModels/ViewModel.cs
  Yuandl.ThemeUI.Mvvm/Views/CachePage.xaml
  Yuandl.ThemeUI.Mvvm/Views/CachePage.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/HomePage.xaml
  Yuandl.ThemeUI.Mvvm/Views/HomePage.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/IWindow.cs
  Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml
  Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml.cs
  Yuandl.ThemeUI.Mvvm/Views/SettingsPage.xaml
  Yuandl.ThemeUI.Mvvm/Views/SettingsPage.xaml.cs
  Yuandl.ThemeUI.Mvvm/Yuandl.ThemeUI.Mvvm.csproj
  Yuandl.ThemeUI.Mvvm/app_icon.ico
  Yuandl.ThemeUI.sln
Labels: dotnet

调整Yuandl.ThemeUI.Mvvm位置
  src/Yuandl.ThemeUI.Mvvm/App.xaml
  src/Yuandl.ThemeUI.Mvvm/App.xaml.cs
  src/Yuandl.ThemeUI.Mvvm/AssemblyInfo.cs
  src/Yuandl.ThemeUI.Mvvm/Converters/ThemeToIndexConverter.cs
  src/Yuandl.ThemeUI.Mvvm/Resources/Styles.xaml
  src/Yuandl.ThemeUI.Mvvm/Services/ApplicationHostService.cs
  src/Yuandl.ThemeUI.Mvvm/ViewModels/CachePageViewModel.cs
  src/Yuandl.ThemeUI.Mvvm/ViewModels/HomePageViewModel.cs
  src/Yuandl.ThemeUI.Mvvm/ViewModels/MainWindowViewModel.cs
  src/Yuandl.ThemeUI.Mvvm/ViewModels/SettingsPageViewModel.cs
  src/Yuandl.ThemeUI.Mvvm/ViewModels/ViewModel.cs
  src/Yuandl.ThemeUI.Mvvm/Views/CachePage.xaml
  src/Yuandl.ThemeUI.Mvvm/Views/CachePage.xaml.cs
  src/Yuandl.ThemeUI.Mvvm/Views/HomePage.xaml
  src/Yuandl.ThemeUI.Mvvm/Views/HomePage.xaml.cs
  src/Yuandl.ThemeUI.Mvvm/Views/IWindow.cs
  src/Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml
  src/Yuandl.ThemeUI.Mvvm/Views/MainWindow.xaml.cs
  src/Yuandl.ThemeUI.Mvvm/Views/SettingsPage.xaml
  src/Yuandl.ThemeUI.Mvvm/Views/SettingsPage.xaml.cs
  src/Yuandl.ThemeUI.Mvvm/Yuandl.ThemeUI.Mvvm.csproj
  src/Yuandl.ThemeUI.Mvvm/app_icon.ico
  src/Yuandl.ThemeUI.Sample/ViewModels/ViewModel.cs
Labels: dotnet, sample

调整ViewModel
  src/Yuandl.ThemeUI.Sample/Extensions/ServiceCollectionExtensions.cs
  src/Yuandl.ThemeUI.Sample/Models/MenuItemData.cs
  src/Yuandl.ThemeUI.Sample/Models/SelectableViewModel.cs
  src/Yuandl.ThemeUI.Sample/Models/ThemeColor.cs
  src/Yuandl.ThemeUI.Sample/Views/Pages/CardPage.xaml
Labels: dotnet, sample

调整github地址
  src/Yuandl.ThemeUI.Sample/Controls/PageControlDocumentation.xaml.cs
Labels: dotnet, sample

调整TextBlock和SidebarMenu
  src/Yuandl.ThemeUI/Controls/SidebarMenu/SidebarMenu.cs
  src/Yuandl.ThemeUI/Controls/TextBlock/TextBlock.xaml
  src/Yuandl.ThemeUI/Resources/Typography.xaml
Labels: dotnet, styles, controls

调整配色
  src/Yuandl.ThemeUI.Sample/App.xaml
  src/Yuandl.ThemeUI.Sample/ViewModels/Pages/StepPageViewModel.cs
  src/Yuandl.ThemeUI.Sample/Views/MainWindow.xaml
  src/Yuandl.ThemeUI/Resources/Themes/Dark.xaml
  src/Yuandl.ThemeUI/Resources/Themes/Light.xaml
  src/Yuandl.ThemeUI/ThemeResource.cs
Labels: dotnet, styles, sample

增加TreeSelect
  src/Yuandl.ThemeUI.Sample/Models/TreeItem.cs
  src/Yuandl.ThemeUI.Sample/ViewModels/Pages/TreePageViewModel.cs
  src/Yuandl.ThemeUI.Sample/Views/Pages/ComboBoxPage.xaml
  src/Yuandl.ThemeUI.Sample/Views/Pages/TreePage.xaml
  src/Yuandl.ThemeUI/Controls/TreeSelect/TreeSelect.cs
  src/Yuandl.ThemeUI/Controls/TreeSelect/TreeSelect.xaml
  src/Yuandl.ThemeUI/Resources/Yuandl.xaml
Labels: dotnet, styles, controls, sample

xx
  src/Yuandl.ThemeUI.Sample/Views/Pages/TreePage.xaml
  src/Yuandl.ThemeUI/Controls/TreeSelect/TreeSelect.cs
Labels: dotnet, controls, sample

xx
  src/Yuandl.ThemeUI.Sample/Views/Pages/ComboBoxPage.xaml
  src/Yuandl.ThemeUI.Sample/Views/Pages/TreePage.xaml
  src/Yuandl.ThemeUI/Controls/TreeSelect/TreeSelect.cs
  src/Yuandl.ThemeUI/Controls/TreeSelect/TreeSelect.xaml
Labels: dotnet, styles, controls, sample

增加TreeSelect控件
  src/Yuandl.ThemeUI.Sample/Views/Pages/IconsPage.xaml
  src/Yuandl.ThemeUI.Sample/Views/Pages/TreePage.xaml
  src/Yuandl.ThemeUI/Controls/CardAction/CardAction.xaml
  src/Yuandl.ThemeUI/Controls/CardControl/CardControl.xaml
  src/Yuandl.ThemeUI/Controls/Carousel/Carousel.xaml
  src/Yuandl.ThemeUI/Controls/ComboBox/ComboBox.xaml
  src/Yuandl.ThemeUI/Controls/DataGrid/DataGrid.xaml
  src/Yuandl.ThemeUI/Controls/Divider/Divider.xaml
  src/Yuandl.ThemeUI/Controls/Expander/Expander.xaml
  src/Yuandl.ThemeUI/Controls/RadioButton/RadioButton.xaml
  src/Yuandl.ThemeUI/Controls/RichTextBox/RichTextBox.xaml
  src/Yuandl.ThemeUI/Controls/TabControl/TabControl.xaml
  src/Yuandl.ThemeUI/Controls/TextBox/TextBox.xaml
  src/Yuandl.ThemeUI/Controls/ToggleSwitch/ToggleSwitch.xaml
  src/Yuandl.ThemeUI/Controls/TreeSelect/TreeSelect.cs
  src/Yuandl.ThemeUI/Controls/TreeSelect/TreeSelect.xaml
  src/Yuandl.ThemeUI/Controls/TreeView/TreeViewItem.xaml
  src/Yuandl.ThemeUI/Resources/Themes/Dark.xaml
  src/Yuandl.ThemeUI/ThemeResource.cs
Labels: dotnet, styles, controls, sample

x
  .github/workflows/package-publish-install.yml
  .github/workflows/release.yml
  .gitignore
  Directory.Build.props
  nuget.config
  src/Yuandl.ThemeUI/Yuandl.ThemeUI.csproj
Labels: github_actions

Create dotnet-desktop.yml
  .github/workflows/dotnet-desktop.yml
Labels: github_actions

Update package-publish-install.yml
  .github/workflows/package-publish-install.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update package-publish-install.yml
  .github/workflows/package-publish-install.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update package-publish-install.yml
  .github/workflows/package-publish-install.yml
Labels: github_actions

Update package-publish-install.yml
  .github/workflows/package-publish-install.yml
Labels: github_actions

Update package-publish-install.yml
  .github/workflows/package-publish-install.yml
Labels: github_actions

.github/labeler.yml:

release:
  - base-branch: 'master'

PR:
  - base-branch: [ 'master', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Packages.props'

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props', 'branding/package.json' ]

styles:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/**/*.xaml'

controls:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/Controls/**'

navigation:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/Controls/NavigationView/**'

sample:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI.Sample/**'

icons:
- changed-files:
  - any-glob-to-any-file: [ 'src/Yuandl.ThemeUI/Resources/Fonts/**', 'src/Yuandl.ThemeUI/Controls/IconSource/*', 'src/Yuandl.ThemeUI/Controls/IconElement/*' ]
