Repository lixiaoliyubo/Yuandl.ThemeUI, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies, styles, controls, navigation, sample, icons

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

xx
  nupkg/Yuandl.ThemeUI.2.0.5.snupkg
Labels: none

test
  src/Yuandl.ThemeUI/Yuandl.ThemeUI.csproj
Labels: none

test
  .github/workflows/PublishNuGet.yml
  Directory.Build.props
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

TEST
  .github/workflows/PublishNuGet.yml
  Directory.Build.props
  nupkg/Yuandl.ThemeUI.2.0.5.snupkg
  nupkg/Yuandl.ThemeUI.2.0.6.snupkg
Labels: github_actions

x
  .github/workflows/PublishNuGet.yml
Labels: github_actions

test
  Directory.Build.props
  nupkg/Yuandl.ThemeUI.2.0.6.snupkg
Labels: none

test
  .github/workflows/PublishNuGet.yml
  nupkg/Yuandl.ThemeUI.2.0.6.snupkg
Labels: github_actions

a
  .github/workflows/release.yml
Labels: github_actions

优化页面，修复自定义主色调bug
  src/Yuandl.ThemeUI/Managers/ApplicationAccentColorManager.cs
  src/Yuandl.ThemeUI/Managers/ApplicationThemeManager.cs
  src/Yuandl.ThemeUI/Managers/ResourceDictionaryManager.cs
  src/Yuandl.ThemeUI/Services/ThemeService.cs
  src/Yuandl.ThemeUI/ThemesDictionary.cs
Labels: dotnet

Revert "a"
  .github/workflows/release.yml
Labels: github_actions

Reapply "a"
  .github/workflows/release.yml
Labels: github_actions

Revert "a"
  .github/workflows/release.yml
Labels: github_actions

修复自定义主色调
  nupkg/Yuandl.ThemeUI.2.0.6.snupkg
  src/Yuandl.ThemeUI/Managers/ApplicationAccentColorManager.cs
  src/Yuandl.ThemeUI/Managers/ApplicationThemeManager.cs
  src/Yuandl.ThemeUI/Managers/ResourceDictionaryManager.cs
  src/Yuandl.ThemeUI/Services/ThemeService.cs
  src/Yuandl.ThemeUI/ThemesDictionary.cs
Labels: dotnet

.github/labeler.yml:

release:
  - base-branch: 'master'

PR:
  - base-branch: [ 'master', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Packages.props'

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props', 'branding/package.json' ]

styles:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/**/*.xaml'

controls:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/Controls/**'

navigation:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/Controls/NavigationView/**'

sample:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI.Sample/**'

icons:
- changed-files:
  - any-glob-to-any-file: [ 'src/Yuandl.ThemeUI/Resources/Fonts/**', 'src/Yuandl.ThemeUI/Controls/IconSource/*', 'src/Yuandl.ThemeUI/Controls/IconElement/*' ]
