Repository lixiaoliyubo/Yuandl.ThemeUI, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, documentation, dotnet, update, NuGet, dependencies, styles, controls, navigation, sample, icons

xx
  .github/workflows/dotnet-desktop.yml
  .github/workflows/package-publish-install.yml
  .github/workflows/release.yml
Labels: github_actions

Update release.yml
  .github/workflows/release.yml
Labels: github_actions

x
  src/Yuandl.ThemeUI.Sample/Models/MenuItemData.cs
  src/Yuandl.ThemeUI/Controls/Charts/ChartRadar.cs
  src/Yuandl.ThemeUI/Helpers/ControlsHelper.cs
  src/Yuandl.ThemeUI/Helpers/IndicatorVisualStateNames.cs
  src/Yuandl.ThemeUI/Managers/WindowBackgroundManager.cs
  src/Yuandl.ThemeUI/UiApplication.cs
Labels: dotnet, controls, sample

下
  src/Yuandl.ThemeUI.Sample/App.xaml.cs
  src/Yuandl.ThemeUI/Controls/Pagination/Pagination.Properties.cs
  src/Yuandl.ThemeUI/Controls/ScrollViewer/ScrollViewer.cs
  src/Yuandl.ThemeUI/Controls/TabControl/TabControl.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Helpers.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.Properties.cs
  src/Yuandl.ThemeUI/Controls/UniformGrid/UniformGrid.cs
Labels: dotnet, controls, sample

显示
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Create release-drafter.yml
  .github/release-drafter.yml
Labels: none

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

NuGet Publish.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

Update PublishNuGet.yml
  .github/workflows/PublishNuGet.yml
Labels: github_actions

.github/labeler.yml:

release:
  - base-branch: 'master'

PR:
  - base-branch: [ 'master', 'development' ]

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

dotnet:
- changed-files:
  - any-glob-to-any-file: '**/*.cs'

update:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Build.props'

NuGet:
- changed-files:
  - any-glob-to-any-file: 'src/Directory.Packages.props'

dependencies:
- changed-files:
  - any-glob-to-any-file: [ 'src/Directory.Packages.props', 'branding/package.json' ]

styles:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/**/*.xaml'

controls:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/Controls/**'

navigation:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI/Controls/NavigationView/**'

sample:
- changed-files:
  - any-glob-to-any-file: 'src/Yuandl.ThemeUI.Sample/**'

icons:
- changed-files:
  - any-glob-to-any-file: [ 'src/Yuandl.ThemeUI/Resources/Fonts/**', 'src/Yuandl.ThemeUI/Controls/IconSource/*', 'src/Yuandl.ThemeUI/Controls/IconElement/*' ]
